# Dataset files
dataset/test/**/
dataset/train/**/

# Checkpoints files
results/**/

# Python
.idea/
__pycache__/

# Jupyter Notebook
.ipynb_checkpoints

# Tensorboard logs
tensorboard_logs/
logs/